.header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;

}

.navbar {
    display: flex;
    align-items: center;
}

.navbar__logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar__menu {
    list-style-type: none;
    display: flex;
}

.navbar__item {
    margin-right: 10px;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.navbar__link:hover {
    background-color: #555;
}