.list-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

        .add-btn {
                width: 200px;
                height: 200px;
                background-color: #f9f9f9;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 16px;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: pointer;
                font-size: 50px;
        }
}

.posts-list-item {
        flex: 1 0 200px;
        max-width: 200px;
}

@media (max-width: 768px) {
        .posts-list-item {
                flex: 1 0 150px;
                max-width: 150px;
        }
}

@media (max-width: 480px) {
        .posts-list-item {
                flex: 1 0 100px;
                max-width: 100px;
        }
}